<div id="<%= dom_id comment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
      },
      class: "rounded-lg py-3 px-5 bg-red-600 text-white inline-block font-medium cursor-pointer"
    %>
  </p>
</div>
