# Name of your application. Used to uniquely configure containers.
service: blog-space

# Name of the container image.
# DOCKER_HUB_USERNAME is name of Docker Hub account.
# Get it from the companion app at kamal.cklos.foo
# Your Docker Hub credentials => Username
image: kamaldh0/blog-space ## CHANGE ME

# Deploy to these servers.
servers:
  # Get it from the companion app at kamal.cklos.foo
  # One of the hosts
  - 255.255.255.255 ## CHANGE ME

# Credentials for your image host.
registry:
  username: kamaldh0 ## CHANGE ME
  password:
    - KAMAL_REGISTRY_PASSWORD

# Inject ENV variables into containers (secrets come from .env).
# Remember to run `kamal env push` after making changes!
env:
  clear:
    FOO: bar
  secret:
    - SECRET_KEY_BASE

# Configure the builder to use for building the image.
builder:
  remote:
    arch: amd64
    host: ssh://build@[BUILDER IP] ## CHANGE ME


# Bridge fingerprinted assets, between versions to avoid
# hitting 404 on in-flight requests. Combines all files from new and old
# version inside the asset_path.
asset_path: /rails/public/assets
