servers:
  web:
    hosts:
      - 209.38.199.143

  job:
    hosts:
      - 209.38.199.143

proxy:
  host: bear.8301738.xyz

env:
  clear:
    RAILS_ENV: staging
    POSTGRES_DB: blog_space_staging

accessories:
  postgres:
    host: 209.38.199.143

  redis:
    host: 209.38.199.143
    cmd: "redis-server --requirepass <%= File.read('.kamal/secrets.staging')[/REDIS_PASSWORD="(.*?)"/, 1] %>"
